# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
.npm
*.log

# Databases & local data
backend/rag_data/
*.sqlite3
